---
layout: Default
title: JSLint options generator - quickly generate JSHint and JSLint options
---


<div class=lint >

  <h1>Quickly generate a JSHint config file</h1>

  <p>If you're just looking for quick wins, here's a high priority lint file for the browser &amp; node:</p>

  <p class="tldr downloads">
    <a class=major_download>Browser hint quick wins</a>
    <a class=major_download>Node hint quick wins</a>
  </p>

  <div class=full>

    <div class=profiles ng-controller=options ng-init='setOptionKey("profiles")'>
      <h3>Profiles</h3>
      <p>Pre-made sets of options for certain styles and conventions - or custom for advanced.</p>
      <%= render "options", options: "profiles", name: "profile" %>
    </div>

    <div class=environment ng-controller=options ng-init='setOptionKey("environments")'>
      <h3>Browser or node?</h3>
      <%= render "options", name: "environment", type: "radio" %>
    </div>

    <div class=libraries ng-controller=libraries ng-init='setOptionKey("libraries")'>
      <h3>Libraries?</h3>
      <%= render "options", name: "libraries", type: "checkbox" %>
    </div>

    <div class=globals ng-controller=globals>
      <h3>Any global variables to declare?</h3>
      <p>This could be your app namespace etc. Comma separated if you please!</p>
      <form id='global'>
        <input type=text name=globals placeholder="ACME, myApp, someNonLibraryGlobal" pattern='^\s*([_$a-zA-Z\xA0-\uFFFF][_$a-zA-Z0-9\xA0-\uFFFF]*,\s]+,?)*\s*$' ng-model="globals" />
      </form>
    </div>

    <h3>Done, gimme that JSON goodness!</h3>
    <p class=downloads>
      <a class="button" ng-controller=download>Download</a>
      <a class="button" ng-controller=download>Email</a>
    </p>

    <div class=advanced ng-controller=advanced>
      <h3>Advanced options</h3>
      <p>
        <a class="button" >Show me all the options</a>
      </p>

      <div class=layout>
        <h3>Style & layout</h3>
        <p>Options for defining the style & layout of your code - everything done for human/asethic considerations.</p>
        <%= render "options", name: "layout", type: "checkbox" %>
      </div>

      <div class=language>
        <h3>Language</h3>
        <p>Disallows dangerous or ambigous language features or coding styles.</p>
        <%= render "options", name: "language", type: "checkbox" %>
      </div>

    </div>

  </div>

</div>

<script src=/js/vendor/angular.js></script>
<script src=/js/app.js></script>
<script>
  var lintOptions = <%= JSON.generate LintOptions.fetch %>;
  angular.bootstrap(document,["lint"]);
</script>
