#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

@config[:base_url] = ENV["BASE_URL"] if ENV["BASE_URL"]

preprocess do
  def identify_articles
    @items.each do |item|
      if %r{/posts/} =~ item.identifier && item[:published]
        item[:kind] = "article"
      end
    end
  end
  def validate_articles
    articles.each {|a| raise "Invalid post #{a.identifier}" if !a[:kind] || !a[:created_at] }
  end

  identify_articles
  validate_articles
end

compile %r{/sass/(?!_).*} do
  filter :sass
end
route %r{/sass/(?!_).*} do
  item.identifier.gsub("/sass/","/css/").chop + ".css"
end

compile '/coffee/*' do
  filter :coffeescript
end
route '/coffee/*' do
  item.identifier.gsub("/coffee/","/js/").chop + ".js"
end

compile '/js/*' do
end
route '/js/*' do
  item.identifier.chop + ".js"
end

compile '/posts/*' do
  filter item[:filter] || :kramdown
  layout 'post'
end
route '/posts/*' do
  "/post/#{slug item[:title]}/index.html"
end

compile '*' do
  if item.binary?
    # don’t filter binary items
  else
    filter item[:filter] || :erb
    layout item[:layout] || 'default'
  end
end

route '*' do
  if item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end

layout '*', :erb
