@import base
@import forms

body
  font-size: 18px
  padding-bottom: 4rem

.lint
  max-width: 960px
  margin: 0 auto

  h3
    font-size: 2rem

  .full
    margin-top: 2rem

  .downloads
    overflow: auto

  .downloads a
    width: 47.5%
    float: left
    &:last-child
      margin-left: 5%

  .major_download, .button
    display: block
    background: $contrast
    color: #fff
    text-align: center
    padding: 1rem 0rem
    cursor: pointer
    font-size: 1.5rem

=main-title
  min-height: $vunit
  color: #fff
  background: $contrast
  font-size: 2.25rem
  padding: 1.5rem 2rem
  margin: 0
  margin-bottom: $vunit/2

=site-name
  margin: 0
  color: #888
  font-size: 1.5rem
  padding: 0.5rem 2rem
  text-align: right
  +content-width

=secondary-title
  min-height: $vunit/2
  color: $contrast
  font-size: 1.75rem
  padding-top: 1rem
  +content-width

=content-width
  max-width: 40rem

.blog
  p,ul,ol,code
    line-height: 1.45em
  img
    margin: 2rem 0
  .header
    min-height: $vunit / 2
    background: #f5f5f5
    overflow: hidden
    a[href]
      color: #555
  h2,h3,p
    padding-left: 2rem
    padding-right: 2rem
  p, ul, ol, pre
    +content-width
  .sidebar
    float: right
    max-width: 10rem

  .CodeRay
    margin-left: 2rem
    +content-width
    pre
      white-space: pre-wrap

  .tldr
    background: $contrast
    color: #fff
    padding-top: 0.25rem
    padding-bottom: 0.25rem


  .footer
    margin-top: 2rem
    padding-left: 2rem
    .links
      +content-width
      overflow: auto
      a
        display: block
        width: 50%
        float: left
        text-align: center
        color: #fff
        padding: 0.5rem 0
        text-decoration: none
    .sk-link
      margin-top: 1rem
      display: block
    .hn
      background: #ff6600
      &:hover
        background: lighten(#ff6600,5%)
    .twitter
      background: #4099FF
      &:hover
        background: lighten(#4099FF,5%)
  .front_title
    +content-width
    overflow: auto
    h2
      font-size: 1.5rem
      margin-bottom: 0
    span
      font-size: 1rem
      padding-left: 2rem
    a
      color: inherit
      &:hover
        text-decoration: none


.blog
  h1
    +main-title
    .content
      +content-width
      display: block
  h2
    +secondary-title
  .header h2
    +site-name

code
  white-space: pre-wrap
