---
layout: Default
title: JSLint options generator - quickly generate JSHint and JSLint options
---

<% options = HintOptions.fetch %>
<div class=lint>

  <h1>Quickly generate a JSHint config file</h1>

  <p>If you're just looking for quick wins, here's a high priority lint file for the browser &amp; node:</p>

  <p>
    <a>Browser</a>
    <a>Node</a>
  </p>

  <div class=full>

    <div class=profiles>
      <h3>Profiles</h3>
      <p>Pre-made sets of options for certain styles and conventions - or custom for advanced.</p>
      <%= render "options", options: options.profiles, name: "profile", type: "radio" %>
    </div>

    <div class=environment>
      <h3>Environment</h3>
      <p>Sets up the environement your code runs in - available libraries and built-in APIs.</p>

      <%= render "options", options: options.environments, name: "environment", type: "radio" %>
    </div>

    <div class=environment>
      <h3>Libraries</h3>
      <p>Declare the libraries you're using.</p>
      <%= render "options", options: options.libraries, name: "libraries", type: "checkbox" %>
    </div>

    <div class=layout>
      <h3>Style & layout</h3>
      <p>Options for defining the style & layout of your code - everything done for human/asethic considerations.</p>
    </div>

    <div class=language>
      <h3>Language</h3>
      <p>Disallows dangerous or ambigous language features or coding styles.</p>
    </div>

    <div class=globals>

    </div>

    <div class=download>
      <h3>Download/export</h3>
    </div>

  </div>

</div>


